{* This is the welcome page, you can delete it *}
{block content}
<div class="wrapper">
    <div class="form-card">
    {if  empty($resultData)}
        {control companyRegistrationForm}
    {else}
        {control resultGrid $resultData}
    {/if}

    </div>
</div>
